################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ocpp_Core/.vs/Ocpp_Core/v16/.suo
/Ocpp_Core/Ocpp_Core/bin
/Ocpp_Core/Ocpp_Core/obj
/Ocpp_Core/Ocpp_Core.UnitTests/bin
/Ocpp_Core/Ocpp_Core.UnitTests/obj
/WebSocket_Core/.vs/WebSockets_Core/v16/.suo
/WebSocket_Core/.vs/WebSockets_Core/v16
/WebSocket_Core/Kafka/bin
/WebSocket_Core/Kafka/obj
/WebSocket_Core/WebSocketHandler/bin
/WebSocket_Core/WebSocketHandler/obj
/WebSocket_Core/WebSocketManager/bin
/WebSocket_Core/WebSocketManager/obj
/WebSocket_Core/WebSocketManagerExtensions/bin
/WebSocket_Core/WebSocketManagerExtensions/obj
/WebSocket_Core/WebSocketManagerMiddleware/bin
/WebSocket_Core/WebSocketManagerMiddleware/obj
/WebSocket_Core/WebSockets_Core/bin
/WebSocket_Core/WebSockets_Core/obj
/DashboardService/.vs
/DashboardService/BackendService.UnitTests/obj
/DashboardService/BackendService.UnitTests/bin
/DashboardService/BackendServices.Application/obj
/DashboardService/BackendServices.Application/bin
/DashboardService/BackendServices.Core/obj
/DashboardService/BackendServices.Core/bin
/DashboardService/BackendServices.Infrastructure/obj
/DashboardService/BackendServices.Infrastructure/bin
/DashboardService/Framework.ErrorHandler/obj
/DashboardService/Framework.ErrorHandler/bin
/DashboardService/Framework.Logger/obj
/DashboardService/Framework.Logger/bin
/DashboardService/Framework.SendMail/bin
/DashboardService/Framework.SendMail/obj
/DashboardService/Framework.Utility/bin
/DashboardService/Framework.Utility/obj
/DashboardService/RestService.Assets/obj
/DashboardService/RestService.Assets/bin
/DashboardService/RestService.Assets/RestService.Assets.csproj.user
/DashboardService/PortalRestService.Api/obj
/DashboardService/PortalRestService.Api/bin
/DashboardService/PortalRestService.Api/*.user
/DashboardService/PortalRestService.Application/bin
/DashboardService/PortalRestService.Application/obj
/DashboardService/PortalRestService.Core/obj
/DashboardService/PortalRestService.Core/bin
/DashboardService/PortalRestService.Infrastructure/obj
/DashboardService/PortalRestService.Infrastructure/bin
/DashboardService/PortalRestService.UnitTests/bin
/DashboardService/PortalRestService.UnitTests/obj
/DashboardService/PortalRestService.UnitTests/obj
/DashboardService/PortalRestService.UnitTests/bin
/DashboardService/PortalRestService.Api/app
