################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DashboardService/.vs
/DashboardService/PortalRestService.ApiTests/obj
/DashboardService/PortalRestService.ApiTests/bin
/DashboardService/PortalRestService.Application/obj
/DashboardService/PortalRestService.Application/bin
/DashboardService/PortalRestService.Api/obj
/DashboardService/PortalRestService.Api/bin
/DashboardService/PortalRestService.Api/*.user
/DashboardService/PortalRestService.Core/obj
/DashboardService/PortalRestService.Core/bin
/DashboardService/PortalRestService.Infrastructure/obj
/DashboardService/PortalRestService.Infrastructure/bin
/DashboardService/PortalRestService.UnitTests/bin
/DashboardService/PortalRestService.UnitTests/obj
/DashboardService/PortalRestService.UnitTests/obj
/DashboardService/PortalRestService.UnitTests/bin
/DashboardService/PortalRestService.Api/app
/DashboardService/PortalRestService.Api/app



