IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [MakeMaster] (
    [Id] bigint NOT NULL IDENTITY,
    [Name] nvarchar(100) NOT NULL,
    [Description] nvarchar(1000) NOT NULL,
    [IsActive] bit NOT NULL,
    [CreatedBy] nvarchar(100) NOT NULL,
    [CreatedOn] datetime2 NOT NULL,
    [ModifiedBy] nvarchar(100) NOT NULL,
    [ModifiedOn] datetime2 NOT NULL,
    CONSTRAINT [PK_MakeMaster] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [Status] (
    [Id] bigint NOT NULL IDENTITY,
    [StatusName] nvarchar(100) NOT NULL,
    [IsActive] bit NOT NULL,
    [CreatedBy] nvarchar(100) NOT NULL,
    [CreatedOn] datetime2 NOT NULL,
    [ModifiedBy] nvarchar(max) NOT NULL,
    [ModifiedOn] datetime2 NOT NULL,
    CONSTRAINT [PK_Status] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [Cables] (
    [Id] bigint NOT NULL IDENTITY,
    [AssetId] nvarchar(100) NOT NULL,
    [CreatedBy] nvarchar(100) NOT NULL,
    [CreatedOn] datetime2 NOT NULL,
    [InstallationDate] datetime2 NOT NULL,
    [MakeMasterId] bigint NOT NULL,
    [ModelId] bigint NOT NULL,
    [ModifiedBy] nvarchar(100) NOT NULL,
    [ModifiedOn] datetime2 NOT NULL,
    [NetworkId] bigint NOT NULL,
    [NetworkName] nvarchar(100) NOT NULL,
    [SerialNumber] nvarchar(100) NOT NULL,
    [StatusId] bigint NOT NULL,
    [SubNetworkId] bigint NOT NULL,
    [SubNetworkName] nvarchar(100) NOT NULL,
    [WarrantyDuration] bigint NOT NULL,
    [WarrantyExpiryDate] datetime2 NOT NULL,
    [WarrantyStartDate] datetime2 NOT NULL,
    CONSTRAINT [PK_Cables] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Cables_MakeMaster_MakeMasterId] FOREIGN KEY ([MakeMasterId]) REFERENCES [MakeMaster] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Cables_Status_StatusId] FOREIGN KEY ([StatusId]) REFERENCES [Status] ([Id]) ON DELETE CASCADE
);
GO

CREATE INDEX [IX_Cables_MakeMasterId] ON [Cables] ([MakeMasterId]);
GO

CREATE INDEX [IX_Cables_StatusId] ON [Cables] ([StatusId]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20220609070752_initial', N'6.0.5');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [Chargers] (
    [Id] bigint NOT NULL IDENTITY,
    [DeviceId] nvarchar(max) NULL,
    [IsActive] bit NOT NULL,
    [CreatedOn] datetime2 NOT NULL,
    [CreatedBy] nvarchar(max) NULL,
    [ModifiedOn] datetime2 NOT NULL,
    [ModifiedBy] nvarchar(max) NULL,
    CONSTRAINT [PK_Chargers] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [ChargerConfigDetails] (
    [Id] bigint NOT NULL IDENTITY,
    [ChargerId] bigint NOT NULL,
    [GetConfigurationResponsePayLoad] nvarchar(max) NULL,
    [IsBootAccpeted] bit NOT NULL,
    [IsDefault] bit NOT NULL,
    CONSTRAINT [PK_ChargerConfigDetails] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargerConfigDetails_Chargers_ChargerId] FOREIGN KEY ([ChargerId]) REFERENCES [Chargers] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [ChargerConfigurations] (
    [Id] bigint NOT NULL IDENTITY,
    [ChargerId] bigint NOT NULL,
    [Device_SerialNumber] nvarchar(max) NULL,
    [Charge_Point_Model] nvarchar(max) NULL,
    [Charge_Point_SerialNumber] nvarchar(max) NULL,
    [Charge_Point_Vendor] nvarchar(max) NULL,
    [Firmware_Version] nvarchar(max) NULL,
    [ICCID] nvarchar(max) NULL,
    [IMSI] nvarchar(max) NULL,
    [Meter_SerialNumber] nvarchar(max) NULL,
    [Meter_Type] nvarchar(max) NULL,
    [CreatedOn] datetime2 NOT NULL,
    [CreatedBy] nvarchar(max) NULL,
    [ModifiedOn] datetime2 NOT NULL,
    [ModifiedBy] nvarchar(max) NULL,
    CONSTRAINT [PK_ChargerConfigurations] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargerConfigurations_Chargers_ChargerId] FOREIGN KEY ([ChargerId]) REFERENCES [Chargers] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [ChargerStatus_Histories] (
    [Id] bigint NOT NULL IDENTITY,
    [ChargerId] bigint NOT NULL,
    [Charger_Status] nvarchar(max) NULL,
    [ConnectorId] bigint NOT NULL,
    [Connector_Status] nvarchar(max) NULL,
    [Operation] nvarchar(max) NULL,
    [CreatedOn] datetime2 NOT NULL,
    [CreatedBy] nvarchar(max) NULL,
    [ModifiedOn] datetime2 NOT NULL,
    [ModifiedBy] nvarchar(max) NULL,
    CONSTRAINT [PK_ChargerStatus_Histories] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargerStatus_Histories_Chargers_ChargerId] FOREIGN KEY ([ChargerId]) REFERENCES [Chargers] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [ChargerStatuses] (
    [Id] bigint NOT NULL IDENTITY,
    [ChargerId] bigint NOT NULL,
    [Charger_Status] nvarchar(max) NULL,
    [ConnectorId] bigint NOT NULL,
    [Connector_Status] nvarchar(max) NULL,
    [CreatedOn] datetime2 NOT NULL,
    [CreatedBy] nvarchar(max) NULL,
    [ModifiedOn] datetime2 NOT NULL,
    [ModifiedBy] nvarchar(max) NULL,
    CONSTRAINT [PK_ChargerStatuses] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargerStatuses_Chargers_ChargerId] FOREIGN KEY ([ChargerId]) REFERENCES [Chargers] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [ChargingSessions] (
    [Id] bigint NOT NULL IDENTITY,
    [ChargerId] bigint NOT NULL,
    [Charger_Cost] int NOT NULL,
    [Charger_Status] nvarchar(max) NULL,
    [ConnectorId] bigint NOT NULL,
    [Device_Id] nvarchar(max) NULL,
    [Reason_For_Stop] nvarchar(max) NULL,
    [Start_MeterValue] int NULL,
    [Start_SOC] int NULL,
    [Start_Time] datetime2 NOT NULL,
    [End_MeterValue] int NULL,
    [End_SOC] int NULL,
    [End_Time] datetime2 NOT NULL,
    [CreatedOn] datetime2 NOT NULL,
    [CreatedBy] nvarchar(max) NULL,
    [ModifiedOn] datetime2 NOT NULL,
    [ModifiedBy] nvarchar(max) NULL,
    CONSTRAINT [PK_ChargingSessions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargingSessions_Chargers_ChargerId] FOREIGN KEY ([ChargerId]) REFERENCES [Chargers] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [Connectors] (
    [Id] bigint NOT NULL IDENTITY,
    [ChargerId] bigint NOT NULL,
    [Connector_Id] int NOT NULL,
    [IsActive] bit NOT NULL,
    [CreatedOn] datetime2 NOT NULL,
    [CreatedBy] nvarchar(max) NULL,
    [ModifiedOn] datetime2 NOT NULL,
    [ModifiedBy] nvarchar(max) NULL,
    CONSTRAINT [PK_Connectors] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Connectors_Chargers_ChargerId] FOREIGN KEY ([ChargerId]) REFERENCES [Chargers] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [FirmwareStatuses] (
    [Id] bigint NOT NULL IDENTITY,
    [ChargerId] bigint NOT NULL,
    [Firmware_Status] nvarchar(max) NOT NULL,
    [CreatedOn] datetime2 NOT NULL,
    [CreatedBy] nvarchar(max) NULL,
    [ModifiedOn] datetime2 NOT NULL,
    [ModifiedBy] nvarchar(max) NULL,
    CONSTRAINT [PK_FirmwareStatuses] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_FirmwareStatuses_Chargers_ChargerId] FOREIGN KEY ([ChargerId]) REFERENCES [Chargers] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [MeterValues] (
    [Id] bigint NOT NULL IDENTITY,
    [ChargerId] bigint NOT NULL,
    [ConnectorId] bigint NOT NULL,
    [ChargingSession_Id] bigint NOT NULL,
    [Location] nvarchar(max) NULL,
    [Value] nvarchar(max) NULL,
    [Context] nvarchar(max) NULL,
    [Format] nvarchar(max) NULL,
    [Measurand] nvarchar(max) NULL,
    [Phase] nvarchar(max) NULL,
    [Unit] nvarchar(max) NULL,
    [CreatedOn] datetime2 NOT NULL,
    [CreatedBy] nvarchar(max) NULL,
    [ModifiedOn] datetime2 NOT NULL,
    [ModifiedBy] nvarchar(max) NULL,
    CONSTRAINT [PK_MeterValues] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_MeterValues_Chargers_ChargerId] FOREIGN KEY ([ChargerId]) REFERENCES [Chargers] ([Id]) ON DELETE CASCADE
);
GO

CREATE INDEX [IX_ChargerConfigDetails_ChargerId] ON [ChargerConfigDetails] ([ChargerId]);
GO

CREATE INDEX [IX_ChargerConfigurations_ChargerId] ON [ChargerConfigurations] ([ChargerId]);
GO

CREATE INDEX [IX_ChargerStatus_Histories_ChargerId] ON [ChargerStatus_Histories] ([ChargerId]);
GO

CREATE INDEX [IX_ChargerStatuses_ChargerId] ON [ChargerStatuses] ([ChargerId]);
GO

CREATE INDEX [IX_ChargingSessions_ChargerId] ON [ChargingSessions] ([ChargerId]);
GO

CREATE INDEX [IX_Connectors_ChargerId] ON [Connectors] ([ChargerId]);
GO

CREATE INDEX [IX_FirmwareStatuses_ChargerId] ON [FirmwareStatuses] ([ChargerId]);
GO

CREATE INDEX [IX_MeterValues_ChargerId] ON [MeterValues] ([ChargerId]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20220611112745_Charger_Status_ChargerConfig_Detail_History_Session_Connector_FirmwareStatus_MeterValue', N'6.0.5');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [ChargerResponses] (
    [Id] bigint NOT NULL IDENTITY,
    [ChargerId] bigint NOT NULL,
    [DeviceId] nvarchar(max) NOT NULL,
    [RequestId] nvarchar(max) NOT NULL,
    [ResponsePayLoad] nvarchar(max) NOT NULL,
    [ResponseType] nvarchar(max) NOT NULL,
    [CreatedOn] datetime2 NOT NULL,
    [CreatedBy] nvarchar(max) NULL,
    [ModifiedOn] datetime2 NOT NULL,
    [ModifiedBy] nvarchar(max) NULL,
    CONSTRAINT [PK_ChargerResponses] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargerResponses_Chargers_ChargerId] FOREIGN KEY ([ChargerId]) REFERENCES [Chargers] ([Id]) ON DELETE CASCADE
);
GO

CREATE INDEX [IX_ChargerResponses_ChargerId] ON [ChargerResponses] ([ChargerId]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20220611115459_Added_ChargerResponse_Table', N'6.0.5');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [ChargerResponses] DROP CONSTRAINT [FK_ChargerResponses_Chargers_ChargerId];
GO

DECLARE @var0 sysname;
SELECT @var0 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[MeterValues]') AND [c].[name] = N'ModifiedOn');
IF @var0 IS NOT NULL EXEC(N'ALTER TABLE [MeterValues] DROP CONSTRAINT [' + @var0 + '];');
ALTER TABLE [MeterValues] ALTER COLUMN [ModifiedOn] datetime2 NULL;
GO

DECLARE @var1 sysname;
SELECT @var1 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[MeterValues]') AND [c].[name] = N'CreatedOn');
IF @var1 IS NOT NULL EXEC(N'ALTER TABLE [MeterValues] DROP CONSTRAINT [' + @var1 + '];');
ALTER TABLE [MeterValues] ALTER COLUMN [CreatedOn] datetime2 NULL;
GO

DECLARE @var2 sysname;
SELECT @var2 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[FirmwareStatuses]') AND [c].[name] = N'ModifiedOn');
IF @var2 IS NOT NULL EXEC(N'ALTER TABLE [FirmwareStatuses] DROP CONSTRAINT [' + @var2 + '];');
ALTER TABLE [FirmwareStatuses] ALTER COLUMN [ModifiedOn] datetime2 NULL;
GO

DECLARE @var3 sysname;
SELECT @var3 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[FirmwareStatuses]') AND [c].[name] = N'CreatedOn');
IF @var3 IS NOT NULL EXEC(N'ALTER TABLE [FirmwareStatuses] DROP CONSTRAINT [' + @var3 + '];');
ALTER TABLE [FirmwareStatuses] ALTER COLUMN [CreatedOn] datetime2 NULL;
GO

DECLARE @var4 sysname;
SELECT @var4 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Connectors]') AND [c].[name] = N'ModifiedOn');
IF @var4 IS NOT NULL EXEC(N'ALTER TABLE [Connectors] DROP CONSTRAINT [' + @var4 + '];');
ALTER TABLE [Connectors] ALTER COLUMN [ModifiedOn] datetime2 NULL;
GO

DECLARE @var5 sysname;
SELECT @var5 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Connectors]') AND [c].[name] = N'CreatedOn');
IF @var5 IS NOT NULL EXEC(N'ALTER TABLE [Connectors] DROP CONSTRAINT [' + @var5 + '];');
ALTER TABLE [Connectors] ALTER COLUMN [CreatedOn] datetime2 NULL;
GO

DECLARE @var6 sysname;
SELECT @var6 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargingSessions]') AND [c].[name] = N'ModifiedOn');
IF @var6 IS NOT NULL EXEC(N'ALTER TABLE [ChargingSessions] DROP CONSTRAINT [' + @var6 + '];');
ALTER TABLE [ChargingSessions] ALTER COLUMN [ModifiedOn] datetime2 NULL;
GO

DECLARE @var7 sysname;
SELECT @var7 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargingSessions]') AND [c].[name] = N'CreatedOn');
IF @var7 IS NOT NULL EXEC(N'ALTER TABLE [ChargingSessions] DROP CONSTRAINT [' + @var7 + '];');
ALTER TABLE [ChargingSessions] ALTER COLUMN [CreatedOn] datetime2 NULL;
GO

DECLARE @var8 sysname;
SELECT @var8 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargerStatuses]') AND [c].[name] = N'ModifiedOn');
IF @var8 IS NOT NULL EXEC(N'ALTER TABLE [ChargerStatuses] DROP CONSTRAINT [' + @var8 + '];');
ALTER TABLE [ChargerStatuses] ALTER COLUMN [ModifiedOn] datetime2 NULL;
GO

DECLARE @var9 sysname;
SELECT @var9 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargerStatuses]') AND [c].[name] = N'CreatedOn');
IF @var9 IS NOT NULL EXEC(N'ALTER TABLE [ChargerStatuses] DROP CONSTRAINT [' + @var9 + '];');
ALTER TABLE [ChargerStatuses] ALTER COLUMN [CreatedOn] datetime2 NULL;
GO

DECLARE @var10 sysname;
SELECT @var10 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargerStatus_Histories]') AND [c].[name] = N'ModifiedOn');
IF @var10 IS NOT NULL EXEC(N'ALTER TABLE [ChargerStatus_Histories] DROP CONSTRAINT [' + @var10 + '];');
ALTER TABLE [ChargerStatus_Histories] ALTER COLUMN [ModifiedOn] datetime2 NULL;
GO

DECLARE @var11 sysname;
SELECT @var11 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargerStatus_Histories]') AND [c].[name] = N'CreatedOn');
IF @var11 IS NOT NULL EXEC(N'ALTER TABLE [ChargerStatus_Histories] DROP CONSTRAINT [' + @var11 + '];');
ALTER TABLE [ChargerStatus_Histories] ALTER COLUMN [CreatedOn] datetime2 NULL;
GO

DECLARE @var12 sysname;
SELECT @var12 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Chargers]') AND [c].[name] = N'ModifiedOn');
IF @var12 IS NOT NULL EXEC(N'ALTER TABLE [Chargers] DROP CONSTRAINT [' + @var12 + '];');
ALTER TABLE [Chargers] ALTER COLUMN [ModifiedOn] datetime2 NULL;
GO

DECLARE @var13 sysname;
SELECT @var13 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Chargers]') AND [c].[name] = N'CreatedOn');
IF @var13 IS NOT NULL EXEC(N'ALTER TABLE [Chargers] DROP CONSTRAINT [' + @var13 + '];');
ALTER TABLE [Chargers] ALTER COLUMN [CreatedOn] datetime2 NULL;
GO

DECLARE @var14 sysname;
SELECT @var14 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargerResponses]') AND [c].[name] = N'ResponseType');
IF @var14 IS NOT NULL EXEC(N'ALTER TABLE [ChargerResponses] DROP CONSTRAINT [' + @var14 + '];');
ALTER TABLE [ChargerResponses] ALTER COLUMN [ResponseType] nvarchar(max) NULL;
GO

DECLARE @var15 sysname;
SELECT @var15 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargerResponses]') AND [c].[name] = N'ResponsePayLoad');
IF @var15 IS NOT NULL EXEC(N'ALTER TABLE [ChargerResponses] DROP CONSTRAINT [' + @var15 + '];');
ALTER TABLE [ChargerResponses] ALTER COLUMN [ResponsePayLoad] nvarchar(max) NULL;
GO

DECLARE @var16 sysname;
SELECT @var16 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargerResponses]') AND [c].[name] = N'ModifiedOn');
IF @var16 IS NOT NULL EXEC(N'ALTER TABLE [ChargerResponses] DROP CONSTRAINT [' + @var16 + '];');
ALTER TABLE [ChargerResponses] ALTER COLUMN [ModifiedOn] datetime2 NULL;
GO

DECLARE @var17 sysname;
SELECT @var17 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargerResponses]') AND [c].[name] = N'DeviceId');
IF @var17 IS NOT NULL EXEC(N'ALTER TABLE [ChargerResponses] DROP CONSTRAINT [' + @var17 + '];');
ALTER TABLE [ChargerResponses] ALTER COLUMN [DeviceId] nvarchar(max) NULL;
GO

DECLARE @var18 sysname;
SELECT @var18 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargerResponses]') AND [c].[name] = N'CreatedOn');
IF @var18 IS NOT NULL EXEC(N'ALTER TABLE [ChargerResponses] DROP CONSTRAINT [' + @var18 + '];');
ALTER TABLE [ChargerResponses] ALTER COLUMN [CreatedOn] datetime2 NULL;
GO

DECLARE @var19 sysname;
SELECT @var19 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargerResponses]') AND [c].[name] = N'ChargerId');
IF @var19 IS NOT NULL EXEC(N'ALTER TABLE [ChargerResponses] DROP CONSTRAINT [' + @var19 + '];');
ALTER TABLE [ChargerResponses] ALTER COLUMN [ChargerId] bigint NULL;
GO

DECLARE @var20 sysname;
SELECT @var20 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargerConfigurations]') AND [c].[name] = N'ModifiedOn');
IF @var20 IS NOT NULL EXEC(N'ALTER TABLE [ChargerConfigurations] DROP CONSTRAINT [' + @var20 + '];');
ALTER TABLE [ChargerConfigurations] ALTER COLUMN [ModifiedOn] datetime2 NULL;
GO

DECLARE @var21 sysname;
SELECT @var21 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargerConfigurations]') AND [c].[name] = N'CreatedOn');
IF @var21 IS NOT NULL EXEC(N'ALTER TABLE [ChargerConfigurations] DROP CONSTRAINT [' + @var21 + '];');
ALTER TABLE [ChargerConfigurations] ALTER COLUMN [CreatedOn] datetime2 NULL;
GO

ALTER TABLE [ChargerResponses] ADD CONSTRAINT [FK_ChargerResponses_Chargers_ChargerId] FOREIGN KEY ([ChargerId]) REFERENCES [Chargers] ([Id]);
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

DECLARE @var22 sysname;
SELECT @var22 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargingSessions]') AND [c].[name] = N'Charger_Cost');
IF @var22 IS NOT NULL EXEC(N'ALTER TABLE [ChargingSessions] DROP CONSTRAINT [' + @var22 + '];');
ALTER TABLE [ChargingSessions] ALTER COLUMN [Charger_Cost] int NULL;
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

DECLARE @var23 sysname;
SELECT @var23 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargingSessions]') AND [c].[name] = N'Start_Time');
IF @var23 IS NOT NULL EXEC(N'ALTER TABLE [ChargingSessions] DROP CONSTRAINT [' + @var23 + '];');
ALTER TABLE [ChargingSessions] ALTER COLUMN [Start_Time] datetime2 NULL;
GO

DECLARE @var24 sysname;
SELECT @var24 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChargingSessions]') AND [c].[name] = N'End_Time');
IF @var24 IS NOT NULL EXEC(N'ALTER TABLE [ChargingSessions] DROP CONSTRAINT [' + @var24 + '];');
ALTER TABLE [ChargingSessions] ALTER COLUMN [End_Time] datetime2 NULL;
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [Locations] (
    [Id] bigint NOT NULL IDENTITY,
    [LocationAddressId] bigint NOT NULL,
    [LocationStatusId] bigint NOT NULL,
    [LocationId] bigint NOT NULL,
    [ContactPersonName] nvarchar(max) NOT NULL,
    [GlobalTax] nvarchar(max) NOT NULL,
    [TotalCapacity] nvarchar(max) NOT NULL,
    [UtilityService] nvarchar(max) NOT NULL,
    [Description] nvarchar(max) NOT NULL,
    [IsActive] bit NOT NULL,
    [NetworkId] bigint NOT NULL,
    [NetworkName] nvarchar(max) NOT NULL,
    [LocationName] nvarchar(max) NOT NULL,
    [LocationNumber] bigint NOT NULL,
    [SubNetworkId] bigint NOT NULL,
    [SubNetworkName] nvarchar(max) NOT NULL,
    [TimeZone] datetime2 NOT NULL,
    CONSTRAINT [PK_Locations] PRIMARY KEY ([Id])
);
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [Locations] ADD [CreatedBy] nvarchar(max) NULL;
GO

ALTER TABLE [Locations] ADD [CreatedOn] datetime2 NULL;
GO

ALTER TABLE [Locations] ADD [ModifiedBy] nvarchar(max) NULL;
GO

ALTER TABLE [Locations] ADD [ModifiedOn] datetime2 NULL;
GO

CREATE TABLE [LocationStatuses] (
    [Id] bigint NOT NULL IDENTITY,
    [LocationStatusName] nvarchar(max) NOT NULL,
    [IsActive] bit NOT NULL,
    [CreatedOn] datetime2 NULL,
    [CreatedBy] nvarchar(max) NULL,
    [ModifiedOn] datetime2 NULL,
    [ModifiedBy] nvarchar(max) NULL,
    CONSTRAINT [PK_LocationStatuses] PRIMARY KEY ([Id])
);
GO


COMMIT;
GO

